# Docker
Dockerfile
.dockerignore
0compose/

# Git
.git/
.gitignore
.gitlab-ci.yml

# IDE
.idea/
.vscode/
.venv/

# Temp
tmp/

# Ingore invoke tasks
tasks.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cache
.cache/
node_modules/
dist/

# Unnecessary data
docs/
